@model IEnumerable<AppTrackerMVC.Models.Interview>

@{
    ViewData["Title"] = "Index";
}

<h1>Interviews</h1>

<p>
    <a asp-action="Create">Add a New Interview</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.InterviewDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalInfo)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.InterviewDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalInfo)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
