@model AppTrackerMVC.Models.ViewModels.ApplicationDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.DateApplied)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.DateApplied)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.Salary)
        </dd>
        
    </dl>
</div>
<br />
<h2>Interviews</h2>
    <a asp-controller="Interview" asp-action="Create"> Add an Interview  </a>
<br />
@foreach (Interview interview in Model.Interviews)
{
    <li class="list-group-item disabled" aria-disabled="true">
        <p> Interview Date: @interview.InterviewDate </p>
        <p>Additional Info: @interview.AdditionalInfo</p>

    </li>
  
    <a asp-controller="Interview" asp-action="Edit" asp-route-id="@interview.Id"> Edit This Interview ||</a>
    <a asp-controller="Interview" asp-action="Delete" asp-route-id="@interview.Id"> Delete This Interview </a>

    <br />
}
<br />

<h2>Tags</h2>
<a asp-controller="Tag" asp-action="Create" asp-route-id="@Model.Application.Id"> Add a Tag </a>

@foreach (ApplicationTag applicationTag in Model.ApplicationTags)
{
    <li class="list-group-item disabled" aria-disabled="true">
        <p> @applicationTag.Tag.TagName </p>


    </li>
    <a asp-controller="Tag" asp-action="Delete" asp-route-id="@applicationTag.Id" > Delete this Tag  </a>
    <br />
}




<br />
<div>

    @Html.ActionLink("Edit this Application", "Edit", new { Id = Model.Application.Id }) ||
    <a asp-action="Index">Back to List</a>
</div>
